<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:fragment="head (title)">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      th:fragment="nav"
      aria-label="Site Nav"
      class="mx-auto flex max-w-3xl items-center justify-between p-4"
    >
      <a href="/" class="flex justify-center items-center">
        <p class="mr-2 text-[#4285F4] font-bold lg:text-5xl text-3xl">Board</p>

        <img class="w-6 lg:w-12" src="/images/conversation.png" alt="" />
      </a>
      <!-- <a href="/" class="h-10 w-10 items-center justify-center rounded-lg"> </a> -->

      <ul class="flex items-center gap-2 text-sm font-medium text-gray-500">
        <li class="hidden lg:block">
          <a
            th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'text-[#4285F4]' : ''}"
            class="rounded-lg lg:text-2xl text-lg font-bold px-1 py-2"
            href="/"
          >
            홈
          </a>
        </li>

        <li>
          <a
            th:classappend="${#httpServletRequest.getRequestURI().toString().contains('/post') ? 'text-[#4285F4]' : ''}"
            class="rounded-lg lg:text-2xl text-lg font-bold px-1 py-2"
            href="/post"
          >
            게시판
          </a>
        </li>

        <li sec:authorize="isAuthenticated()">
          <a
            th:classappend="${#httpServletRequest.getRequestURI().toString().contains('/settings') ? 'text-[#4285F4]' : ''}"
            class="rounded-lg lg:text-2xl text-lg font-bold px-1 py-2"
            href="/settings"
          >
            설정
          </a>
        </li>

        <li sec:authorize="isAuthenticated()">
          <a
            class="rounded-lg lg:text-2xl text-lg font-bold px-1 py-2"
            href="/logout"
          >
            로그아웃
          </a>
        </li>
      </ul>
    </nav>
    <article
      class="max-w-2xl px-6 py-10 pb-24 mx-auto space-y-16 mt-10 dark:bg-gray-800 dark:text-gray-50"
    >
      <div class="w-full mx-auto space-y-4">
        <!-- <a class="text-[#4285F4]"><- 뒤로가기</p> -->

        <h1 th:text="${post.title}" class="text-3xl font-bold leading-none">
          안녕하세요 모두
        </h1>
        <p
          th:text="|${post.date} by ${post.member.nickname}|"
          class="text-sm text-gray-500"
        >
          안녕하세요 모두
        </p>

        <div class="flex flex-wrap space-x-2 text-sm text-gray-500">
          <a
            th:each="postTag : ${post.getPostTags()}"
            rel="noopener noreferrer"
            href="#"
            class="p-1 hover:underline"
          >
            <p th:text="|#${postTag.getTag().getName()}|"></p>
          </a>
        </div>
        <div class="flex justify-between">
          <div class="flex text-[#4285F4] cursor-pointer">
            <a
              th:href="@{/post/__${post.id}__/like}"
              class="flex"
              th:if="${liked}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6"
              >
                <path
                  d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z"
                />
              </svg>
              <p class="hover:underline">좋아요 취소</p>
            </a>
            <a
              th:href="@{/post/__${post.id}__/like}"
              class="flex"
              th:unless="${liked}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"
                />
              </svg>
              <p class="hover:underline">좋아요</p>
            </a>
          </div>
          <div class="flex text-[#4285F4]">
            <p th:text="|조회수 ${post.views},|" class="mr-1"></p>
            <p th:text="|좋아요 ${post.getLikes().size()}|"></p>
          </div>
        </div>
      </div>
      <div class="text-gray-800">
        <p th:utext="${post.content}">안녕하세요 모두 ㅎㅎ</p>
      </div>
    </article>
    <div class="max-w-2xl px-6 mx-auto mt-5">
      <p class="text-2xl font-bold">댓글</p>
      <form action="">
        <div class="flex items-center mt-5">
          <textarea
            name="comment-form"
            id=""
            placeholder="댓글을 입력하세요"
            cols="30"
            rows="10"
            class="border-2 rounded h-24 w-[80%] resize-none p-2 transition focus:outline-none focus:ring-2"
          ></textarea>
          <button
            class="inline-block px-5 py-3 text-sm ml-2 h-24 font-medium text-white bg-[#4285F4] rounded focus:outline-none focus:ring"
          >
            확인
          </button>
        </div>

        <div class="mt-5 text-gray-500 pb-5">
          <form action="">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae ullam, quasi et quisquam, porro maiores minima soluta
              est perspiciatis sunt libero vero corporis veniam temporibus
              cupiditate? Omnis tempore eum cupiditate!
            </p>
          </form>

          <div class="">
            <div class="flex mt-2 items-center">
              <p class="text-xs">2022년 12월 31일</p>
              <p class="text-xs mx-2">john123</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4 ml-1 cursor-pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"
                />
              </svg>
              <p class="text-xs">15</p>

              <p class="ml-1 text-xs hover:underline cursor-pointer">
                답글 달기
              </p>
            </div>
          </div>

          <div>
            <div class="flex items-center mt-16">
              <img src="./nested.png" alt="" class="w-5 h-5 ml-3" />
              <p class="text-gray-500 ml-6">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Tempore commodi rem, porro suscipit temporibus sapiente iste
                dicta quis modi animi totam corrupti, ut soluta expedita
                veritatis laudantium nobis saepe. Ex.
              </p>
            </div>
            <div class="flex mt-2 ml-14 items-center">
              <p class="text-xs">2022년 12월 31일</p>
              <p class="text-xs mx-2">john123</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4 ml-1 cursor-pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"
                />
              </svg>
              <p class="text-xs">15</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
